body{
  background-color: #BB9294;
}

#navbar{
  position: fixed;
  height: 100vh;
  width: 300px;
  top: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(circle, #150930, #1c154d, #21206d, #202c8f, #0e3ab3);
  display: flex;
  flex-direction: column;
}

#navbar-header{
  border-style: solid;
  border-color: #BB9294;
  text-align: center;
  font-size: 1.8em;
  color: #e2b13c;


}

h1{
  color: #e2b13c;
}

#navbar ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#navbar-list{
  color: #e2b13c;
  border-style: solid;
  border-color: #BB9294;
  height: 36px;
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}


#main-doc{
  top: 0;
  margin-left: 310px;
  margin-right: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  color: #21206d; 
}

article{
  margin-top: 10px;
  margin-bottom: 10px;

}

.main-section header{
  font-size: 1.8em;
  font-weight: bold;
}
