body{
  text-align: center;
}

#navbar{
  position: fixed;
  height: 100vh;
  width: 30%;
  top: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(circle, #150930, #1c154d, #21206d, #202c8f, #0e3ab3);
  display: flex;
  flex-direction: column;
}

#navbar-header{
  border-style: solid;
  border-color: #BB9294;
}

h1{
  color: #e2b13c;
}

#navbar-list{
  color: #e2b13c;
  border-style: solid;
  border-color: #BB9294;
  height: 36px;
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#main-doc{
  width: 70%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

}

article{
  margin-top: 10px;
  margin-bottom: 10px;
}
